@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: yellow;
  transition:background-color 1s ease;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#historia {
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 120px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition:background-color 1s ease;
}

body.final {
  background-color: black;
}


#historia:hover {
  color: red;
}